 <!-- Page Content -->
 <div class="container">
  
          <!-- Introduction Row -->
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="page-header">A propos 
                  </h1>
                  <p class="p">Ce site web reprèsente le résultat final du projet réalisé au cours du TP "Processus Unifié et Approche Agile" en RT4.</p>
                  <p class="p">Il se porte sur le développement d'une bibliothèque en ligne.</p>
              </div>
          </div>
  
          <!-- Team Members Row -->
          <div class="row">
              <div class="col-lg-12">
                  <h2 class="page-header">L'équipe</h2>
              </div>
              <div class="col-lg-4 col-sm-6 text-center">
                  <img class="img-circle img-responsive img-center" src="../assets/ghazi.jpg" alt="">
                  <h3>Ghazi NAHDI
                  </h3>        
                  <p><a href="https://web.facebook.com/ghazi.vdlz07" target="_blanck">Page Facebook</a></p>                        
                </div>
              <div class="col-lg-4 col-sm-6 text-center">
                  <img class="img-circle img-responsive img-center" src="../assets/iheb.jpg" alt="">
                  <h3>Iheb SAHLOUL
                  </h3>
                  <p><a href="https://web.facebook.com/sahloul.iheb" target="_blanck">Page Facebook</a></p>                        
                </div>
              <div class="col-lg-4 col-sm-6 text-center">
                  <img class="img-circle img-responsive img-center" src="../assets/oussama.jpg" alt="">
                  <h3>Mohamed Oussama BAHRI
                  </h3>
                  <p><a href="https://web.facebook.com/senchi.bahri" target="_blanck">Page Facebook</a></p>                        
              </div>
          </div>
  
          <hr>
  
  