<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav form-inline">
        <li [class]="homeLinkState" ><a routerLink="" (click)="goHome()">Accueil</a></li>
        <li [class]="contactLinkState"><a routerLink="/contact" (click)="goContact()">Contact</a></li>
        <li [class]="aboutLinkState"><a routerLink="/apropos" (click)="goApropos()">A propos</a></li>
      </ul>

      <div class="col-sm-12 col-md-12 navbar-form">   
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Chercher..." size="10"
               id="search" #t (focus)="bigger()" (blur)="smaller(t.value)"
               #searchIn (keyup.Backspace)="searchChanged(searchIn.value)"
               (keyup.Enter)="serachEnterPressed(searchIn.value)"
               [@slideInOut]="state">
              <div class="input-group-btn">
                  <button class="btn btn-default" (click)="serachEnterPressed(searchIn.value)"><i class="glyphicon glyphicon-search"></i></button>
              </div>
          </div>   
        </div>


      <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/panier" (click)="goToPanier()"><span class="glyphicon glyphicon-shopping-cart"></span><span id="panier">{{getPanierLength()}}</span></a></li>          
        <li *ngIf="getCurrentUser() == null"><a data-toggle="modal" data-target="#myModal"><span  class="glyphicon glyphicon-log-in" ></span> Connecter</a></li>
        
        <li *ngIf="getCurrentUser() != null"><div class="dropdown">
          <span class="dropdown-toggle" data-toggle="dropdown">Bienvenue {{getCurrentUser().prenom}}</span>
        <ul class="dropdown-menu">
          <li (click)="logout()">Deconnexion</li>
        </ul>
        </div>
      </li>
      </ul>
    
    </div>
  </div>
</nav>


<!-- Modal (Login dialog) -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
          
      <div class="modal-header">       
        <h4 class="modal-title">Se connecter</h4>
      </div>

      <div class="modal-body">
          
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="email" type="text" class="form-control" name="email" placeholder="Email" #email>
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" placeholder="Mot de passe" #password>
              </div>
             <br>
             <span class="error" *ngIf="afficheError">{{connectionError}}<br></span>
             <br>
             

             
                <div class="btnMd"><button class="btn btn-info active btn-md" (click)="goConnect(email.value,password.value)">Connecter</button> <a routerLink="/inscription" data-dismiss="modal" (click)="goInscription()"><span class="inscrire">S'inscrire</span></a></div>

            
      </div>
    </div>
    
  </div>
</div>






<div id="myCarousel" class="carousel slide" data-ride="carousel" *ngIf="getAffiche()">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
          <img src="https://static.pexels.com/photos/12064/pexels-photo-12064.jpeg" alt="Image">
        <div class="carousel-caption">
          <h3>Trouver votre livre ici !!</h3>
          <p class="pp">les prix sont incroyables</p>
        </div>      
      </div>

      <div class="item">
          <img src="https://static.pexels.com/photos/256455/pexels-photo-256455.jpeg" alt="Image">
        
        <div class="carousel-caption">
          <h3>Tous les types sont disponibles</h3>
          <p class="pp">scientifique,loisirs,sport...</p>
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
  
<div class="container" id="rout">     
       
  
    
   <router-outlet ></router-outlet>
    
    
  
</div><br>

<footer class="container-fluid text-center">
  <p>© 2017, Ghazi Nahdi, Oussema Bahri, Iheb Sahloul.</p>
</footer>

</body>
</html>